In [41]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy.optimize import curve_fit
import numpy as np
from datetime import datetime

In [42]:
#from btc_values.csv, create a dataframe containing only the dates and the Price ( begins in 2015)
df = pd.read_csv('btc_values.csv')
df = df.tail(1009)
df['Date'] = pd.to_datetime(df['Date'])
df = df[['Date', 'Price']]

# prediction of the price of bitcoin

In [43]:
df['prix_log'] = np.log(df['Price'])

In [44]:
def func(x, a, b):
    return a * np.log(x) + b

In [45]:
# 'train' the model
xdata = np.array(df.index)            #use index to compute => but on plot use date
ydata = np.array(df['prix_log'])
popt, pcov = curve_fit(func, xdata, ydata)

In [46]:
df['interpolate'] = np.exp(func(xdata, *popt))
df['interpolate_log'] = func(xdata, *popt)
df.to_csv('interpolation.csv', index=False)

### Create a prediction of the price for the following years

In [47]:
# Predict the futur Prices with the 'rainbow graph'  
x_pred = func(np.arange(1618, 11618), *popt)

df_predictions = pd.DataFrame({
    'date': pd.date_range(start='2023-04-17', periods=10000, freq='3D'),
    'Price_rainbow' : np.exp(x_pred)
})

# adjust the prediction
prediction follow the rainbow chart for the public adoption (+- 50% per year) until 2028-01-01 than it decreases at 3% per year

growth_three_days = ( (1 + 0.03)**(3/365) ) - 1 = 0.00024297857403232648

In [48]:
growth_3_days = ( (1 + 0.03)**(3/365) ) - 1

In [49]:
df_predictions['Price_2028'] = df_predictions['Price_rainbow'].copy()  # on copie la colonne "Price" pour l'instant

for i in range(1, len(df_predictions)):
    if df_predictions.loc[i, 'date'] < pd.to_datetime('2028-01-01'):
        df_predictions.loc[i, 'Price_2028'] = df_predictions.loc[i, 'Price_rainbow']
    else:
        df_predictions.loc[i, 'Price_2028'] = df_predictions.loc[i-1, 'Price_2028'] * (1 + growth_3_days)

In [50]:
df_predictions['Price_2030'] = df_predictions['Price_rainbow'].copy()  # on copie la colonne "Price" pour l'instant

for i in range(1, len(df_predictions)):
    if df_predictions.loc[i, 'date'] < pd.to_datetime('2030-01-01'):
        df_predictions.loc[i, 'Price_2030'] = df_predictions.loc[i, 'Price_rainbow']
    else:
        df_predictions.loc[i, 'Price_2030'] = df_predictions.loc[i-1, 'Price_2030'] * (1 + growth_3_days)

In [51]:
df_predictions['Price_2032'] = df_predictions['Price_rainbow'].copy()  # on copie la colonne "Price" pour l'instant

for i in range(1, len(df_predictions)):
    if df_predictions.loc[i, 'date'] < pd.to_datetime('2032-01-01'):
        df_predictions.loc[i, 'Price_2032'] = df_predictions.loc[i, 'Price_rainbow']
    else:
        df_predictions.loc[i, 'Price_2032'] = df_predictions.loc[i-1, 'Price_2032'] * (1 + growth_3_days)

In [52]:
df_predictions['Price_2034'] = df_predictions['Price_rainbow'].copy()  # on copie la colonne "Price" pour l'instant

for i in range(1, len(df_predictions)):
    if df_predictions.loc[i, 'date'] < pd.to_datetime('2034-01-01'):
        df_predictions.loc[i, 'Price_2034'] = df_predictions.loc[i, 'Price_rainbow']
    else:
        df_predictions.loc[i, 'Price_2034'] = df_predictions.loc[i-1, 'Price_2034'] * (1 + growth_3_days)

In [53]:
df_predictions['Price_2036'] = df_predictions['Price_rainbow'].copy()  # on copie la colonne "Price" pour l'instant

for i in range(1, len(df_predictions)):
    if df_predictions.loc[i, 'date'] < pd.to_datetime('2036-01-01'):
        df_predictions.loc[i, 'Price_2036'] = df_predictions.loc[i, 'Price_rainbow']
    else:
        df_predictions.loc[i, 'Price_2036'] = df_predictions.loc[i-1, 'Price_2036'] * (1 + growth_3_days)

In [54]:
# Définition d'une fonction pour calculer la récompense du bloc en fonction de la date
def get_block_reward(date : datetime) -> float:
    """
    this function return the block reward from mining a block in function of te date
    """
    if date < pd.Timestamp('2024-05-01'):
        return 6.25
    elif date < pd.Timestamp('2028-04-01'):
        return 3.125
    elif date < pd.Timestamp('2032-03-01'):
        return 1.5625
    elif date < pd.Timestamp('2036-02-01'):
        return 0.78125
    elif date < pd.Timestamp('2040-01-01'):
        return 0.390625
    elif date < pd.Timestamp('2043-12-01'):
        return 0.1953125
    elif date < pd.Timestamp('2047-11-01'):
        return 0.09765625
    elif date < pd.Timestamp('2051-10-01'):
        return 0.048828125
    elif date < pd.Timestamp('2055-09-01'):
        return 0.0244140625
    elif date < pd.Timestamp('2059-08-01'):
        return 0.01220703125
    elif date < pd.Timestamp('2063-07-01'):
        return 0.006103515625
    elif date < pd.Timestamp('2067-06-01'):
        return 0.0030517578125
    elif date < pd.Timestamp('2071-05-01'):
        return 0.00152587890625
    elif date < pd.Timestamp('2075-04-01'):
        return 0.000762939453125
    elif date < pd.Timestamp('2079-03-01'):
        return 0.0003814697265625
    elif date < pd.Timestamp('2083-02-01'):
        return 0.00019073486328125
    elif date < pd.Timestamp('2087-01-01'):
        return 0.000095367431640625
    elif date < pd.Timestamp('2090-12-01'):
        return 0.0000476837158203125
    elif date < pd.Timestamp('2094-11-01'):
        return 0.00002384185791015625
    elif date < pd.Timestamp('2098-10-01'):
        return 0.000011920928955078125
    elif date < pd.Timestamp('2102-09-01'):
        return 0.0000059604644775390625
    elif date < pd.Timestamp('2106-08-01'):
        return 0.00000298023223876953125
    elif date < pd.Timestamp('2110-07-01'):
        return 0.000001490116119384765625
    elif date < pd.Timestamp('2114-06-01'):
        return 0.0000007450580596923828125
    elif date < pd.Timestamp('2118-05-01'):
        return 0.00000037252902984619140625
    elif date < pd.Timestamp('2122-04-01'):
        return 0.000000186264514923095703125

In [55]:
df_predictions['block_rewards'] = df_predictions['date'].apply(get_block_reward)

In [56]:
df_predictions.to_csv('predictions.csv', index = 'False')
df_predictions

,date,Price_rainbow,Price_2028,Price_2030,Price_2032,Price_2034,Price_2036,block_rewards
0,2023-04-17,5.561736e+04,5.561736e+04,5.561736e+04,5.561736e+04,5.561736e+04,5.561736e+04,6.250000
1,2023-04-20,5.581963e+04,5.581963e+04,5.581963e+04,5.581963e+04,5.581963e+04,5.581963e+04,6.250000
2,2023-04-23,5.602252e+04,5.602252e+04,5.602252e+04,5.602252e+04,5.602252e+04,5.602252e+04,6.250000
3,2023-04-26,5.622602e+04,5.622602e+04,5.622602e+04,5.622602e+04,5.622602e+04,5.622602e+04,6.250000
4,2023-04-29,5.643013e+04,5.643013e+04,5.643013e+04,5.643013e+04,5.643013e+04,5.643013e+04,6.250000
...,...,...,...,...,...,...,...,...
9995,2105-05-22,5.951473e+09,3.258058e+06,5.697859e+06,9.413485e+06,1.478254e+07,2.232168e+07,0.000003
9996,2105-05-25,5.954485e+09,3.258849e+06,5.699243e+06,9.415772e+06,1.478613e+07,2.232710e+07,0.000003
9997,2105-05-28,5.957498e+09,3.259641e+06,5.700628e+06,9.418060e+06,1.478972e+07,2.233253e+07,0.000003
9998,2105-05-31,5.960512e+09,3.260433e+06,5.702013e+06,9.420348e+06,1.479332e+07,2.233796e+07,0.000003
9999,2105-06-03,5.963528e+09,3.261225e+06,5.703399e+06,9.422637e+06,1.479691e+07,2.234338e+07,0.000003